
table.wiki {
	border-collapse: collapse;
}

table.wiki tr {
	margin: 0;
	padding: 0;
}

table.wiki tr {
	border: solid;
	border-width: 1px 0;
	border-color: rgb(160, 160, 160);
}

table.wiki th {
	font-weight: normal;
}

table.wiki td, table.wiki th {
	margin: 0;
	padding: 0.1em 0.2em;
	text-align: center;
}

hgroup h1, hgroup h2 {
	display: inline-block;
	margin: 0;
	margin-bottom: 8px;
	padding: 0;
}

hgroup h1 {
	font-size: 2em;
}

hgroup h2 {
	font-size: 1.2em;
	margin-left: 0.5em;
}

dl {
	margin: 2px;
}

dt {
	font-weight: bold;
}

dd:not(:last-child) {
	margin-bottom: 1em;
}

a.ext::after {
	content: " \1F517";
	font-size: 0.7em;
	vertical-align: 0.2em;
}

/*
span.icon::before {
	content: "\1F517";
	font-size: 0.6em;
	font-style: normal;
	padding-right: 0.2em;
}
*/

span.version {
	border-radius: 3px;
	color: #fff;
	display: inline-block;
	font-family: sans-serif;
	font-size: 0.75em;
	font-weight: normal;
	padding: 0;
	vertical-align: middle;
}

span.version>span {
	background:linear-gradient(rgba(186,186,186,.1), rgba(0,0,0,.1));
	border-radius: 3px;
	display: inline-block;
	padding: 0.25em 0.5em;
}

span.version.notavailable {
	background: #555;
}

span.version.lessthanmin {
	background: #e00000;
}

span.version.old {
	background: #e05d44;
}

span.version.latest {
	background: #4c1;
}

span.version.newer {
	background: #5bbc9d;
}

span.version.newer2 {
	background: #00a040;
}

span.version.nonstandard {
	background: #9f9f9f;
}

span.altdeps:not(:empty)::before {
	content: "(";
}

span.altdeps:not(:empty)::after {
	content: ")";
}

div {
	position: fixed;
}

#toolbar {
	background: rgba(255, 255, 255, 0.9);
	border: solid rgb(136,136,136);
	border-width: 0 0 1px 1px;
	font-size: 1.5em;
	padding: 4px 4px 0 2px;
	right: 0;
	top: 0;
}

#toolbar span {
	cursor: pointer;
}

.toolbox {
	background: rgba(255, 255, 255, 0.9);
	border: solid rgb(136,136,136) 1px;
	display: none;
	font-size: 1em;
	max-width: 33%;
	padding: 2px;
	right: 4px;
	top: 2em;
}

fieldset {
	border: solid rgb(136,136,136) 1px;
	margin: 2px;
	padding: 2px;
	text-align: left;
}

.toolbox p {
	padding: 0;
	margin: 4px 2px;
}
