
table.wiki {
	border-collapse: collapse;
}

table.wiki tr {
	margin: 0;
	padding: 0;
}

table.wiki tr {
	border: solid;
	border-width: 1px 0;
	border-color: rgb(160, 160, 160);
}

table.wiki th {
	font-weight: normal;
}

table.wiki td, table.wiki th {
	margin: 0;
	padding: 0.1em 0.2em;
}

dl {
	margin: 2px;
}

dd:not(:last-child) {
	margin-bottom: 1em;
}

/*
span.icon::before {
	content: "\1F517";
	font-size: 0.6em;
	font-style: normal;
	padding-right: 0.2em;
}
*/

span.version {
	border-radius: 3px;
	color: #fff;
	display: inline-block;
	font-family: sans-serif;
	font-size: 0.75em;
	padding: 0;
	vertical-align: middle;
}

span.version>span {
	background:linear-gradient(rgba(186,186,186,.1), rgba(0,0,0,.1));
	border-radius: 3px;
	display: inline-block;
	padding: 0.25em 0.5em;
}

span.notavailable {
	background: #555;
}

span.lessthanminimum {
	background: #e00000;
}

span.oldversion {
	background: #e05d44;
}

span.latestversion {
	background: #4c1;
}

span.newerversion {
	background: #00a040;
}

span.nonstandardversion {
	background: #9f9f9f;
}

span.altdeps:not(:empty)::before {
	content: "(";
}

span.altdeps:not(:empty)::after {
	content: ")";
}

div {
	position: fixed;
}

#toolbar {
	font-size: 1.5em;
	right: 4px;
	top: 4px;
}

#infobox {
	background: rgba(255, 255, 255, 0.9);
	border: solid rgb(136,136,136) 1px;
	display: none;
	font-size: 1em;
	max-width: 33%;
	padding: 2px;
	right: 4px;
	top: 2em;
}

fieldset {
	border: solid rgb(136,136,136) 1px;
	margin: 2px;
	padding: 2px;
	text-align: left;
}

#infobox p {
	padding: 0;
	margin: 4px 2px;
}
